export(normalize_text)
export(tokenize_pt)
export(lemmatize_pt)
export(pos_tag_pt)
export(get_stopwords)
export(load_dict)
export(remove_emoji)
export(normalize_accents)
export(map_slang)
export(clean_social)
export(tokenize_spacy_pt)
export(apply_orth_rules)
export(map_pos_tags)
